In [ ]:
## exam python

In [ ]:

##1) Convert given hrs & mins in second

In [ ]:
import datetime
def convert(n):
  return str(datetime.timedelta(seconds = n))

In [ ]:
n=12345
print(convert(n))

3:25:45

In [ ]:
#Q.3) Print

In [ ]:
for i in range(1,6):
  for j in range(1,i+1):
    print(j%2,end=' ')
  print()

1
1 0
1 0 1
1 0 1 0
1 0 1 0 1

In [ ]:
##4)Write a code to accept a number & print
#in words.

n=int(input("Enter the digit from 1 to 3 :"))
print("Entered Digit is :",end='')
if n==1:
  print('one')

Enter the digit from 1 to 3 :1
Entered Digit is :one

In [ ]:
class Person:
  def __init__(self,name):
    self.name=name

    def say_hi(self):
      print('Hello, my name os',self.name)

In [ ]:
p = Person ('vaishnav')
p.say_hi()

In [ ]:
##7)Convert Paise in Rupees &
#Paises
#Ex: 350 is 3 Rupees 50 Paise

paise = 100
rs = int(input('Enter amount in rupees:'))
result= rs*paise
print(f"{result} paise")

Enter amount in rupees:350
35000 paise

In [ ]:
#2)Write code to find the average of ‘n’
#numbers entered by the user to funct

n= int(input("Enter number"))
sum = 0
for num in range(1,n+1,1):
  sum= sum+num
  print("sum of first",n,"numbers is:", sum)
  average = sum/n
  print("average of",n,"numbers is:",average)

Enter number10
sum of first 10 numbers is: 1
average of 10 numbers is: 0.1
sum of first 10 numbers is: 3
average of 10 numbers is: 0.3
sum of first 10 numbers is: 6
average of 10 numbers is: 0.6
sum of first 10 numbers is: 10
average of 10 numbers is: 1.0
sum of first 10 numbers is: 15
average of 10 numbers is: 1.5
sum of first 10 numbers is: 21
average of 10 numbers is: 2.1
sum of first 10 numbers is: 28
average of 10 numbers is: 2.8
sum of first 10 numbers is: 36
average of 10 numbers is: 3.6
sum of first 10 numbers is: 45
average of 10 numbers is: 4.5
sum of first 10 numbers is: 55
average of 10 numbers is: 5.5

In [ ]:
def add(a,b):
  sum=a+b
  print(a,"+",b,"=",sum)

In [ ]:
#.10) Create menu driven code for
#1) Accept 2 numbers2) Add3) Sub4) Mul Di

add = 5+2
print("addition:%d" %add)
sub= 10-5
print("subtraction:%d" %sub)
mul=10*2
print("multiplication:%d" %mul)

addition:7
subtraction:5
multiplication:20